@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;700&display=swap');
/* @import url('http://fonts.cdnfonts.com/css/halimun'); */

footer {
    font-family: 'Poppins', sans-serif;
    width: 100%;
    display: flex;
    /* margin-top: 6rem; */
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 9rem;
    background-color: rgb(245,245,245);
    margin-top: 4rem;
    border-top: solid .1px rgb(230,230,230)
}
.footer-container {
    display: flex;
    width: 90%;
    justify-content: flex-start;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    color:rgb(87, 87, 87);
    font-size: 0.8rem;
}
.footer-container div a {
    color:rgb(87, 87, 87);
    text-decoration: none;
}
.footer-container div a span {
    position: relative;
    padding-left: .4rem;
    bottom: .45rem;
    color:rgb(87, 87, 87);
    /* font-family: 'Halimun', sans-serif; */
}
.footer-container div span {
    position: relative;
    padding-left: .4rem;
    bottom: .45rem;
    user-select: none;
    /* font-family: 'Halimun', sans-serif; */
}
.footer-container div span:hover {
    border-bottom: solid .1px rgba(124, 124, 124, 0.24);
}
@media (max-width: 600px) {
    .footer-container {
        margin-bottom: 2rem;
    }
  }