@import url('http://fonts.cdnfonts.com/css/athene');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/halimun');

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    position: fixed;
    height: 6rem;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 1.5rem 3rem;
    z-index: 100000;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,0.5) 0%, rgba(245,245,245,0.2) 100%);
    backdrop-filter: blur(.5px);
    box-shadow: 0 20px 30px rgb(210,210,210,0.15);
}

.navbar span {
    font-family: 'Halimun', sans-serif;
    position: absolute;
    left: 6.7rem;
    user-select: none;
    transition: 0.15s;
    font-size: 1.15rem;
}
.navbar img {
    max-width: 2.5rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.15s;
}
.navbar img:hover {
    filter: grayscale(0%);
}

.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    position: relative;
    list-style: none;
}
.navbar ul li a {
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: rgb(50,50,50);
    letter-spacing: 2px;
    transition: 0.1s;
    font-size: 1rem;
    font-weight: 500;
}
.navbar ul li a:hover {
    /* border-bottom: 2.4px solid rgb(250, 123, 50); */
    color: rgb(250, 123, 50);
    transition: .15s;
}
@media (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      position: static;
      height: 100%;
    }
    .navbar ul li a:hover {
        border-bottom: none;
        color: rgb(50, 50, 50);
        transition: .15s;
    }
    .navbar img { 
        position: absolute;
        left: 1.4rem;
    }
    .navbar span {
        left: 4.4rem;
        top: 2.4rem;
        font-size: 1rem;
    }
    .navbar ul {
        width: 100vw;
        margin-top: 1rem;
    }
    .navbar ul li {
        font-size: .8rem;
        text-align: center;
    }
    .navbar ul li a {
        letter-spacing: 1px;
        font-size: .83rem;
    }
    .navbar nav {
        display: flex;
        width: 100%;
        justify-content: space-around;
        align-items: flex-start;
        margin-left: auto;
        margin-right: auto;
        margin-top: 3.4rem;
    }
  }
