@import url('http://fonts.cdnfonts.com/css/athene');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('http://fonts.cdnfonts.com/css/halimun');

.navbar {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 1.5rem;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.4s;
    padding: 1.5rem 3rem;
    z-index: 100000;
}

.navbar span {
    font-family: 'Halimun', sans-serif;
    position: absolute;
    left: 7.5rem;
    user-select: none;
    transition: 0.15s;
}
.navbar span:hover {
    color: rgb(250, 123, 50);
}

.navbar img {
    max-width: 3.5rem;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    transition: 0.15s;
}
.navbar img:hover {
    filter: grayscale(0%);
}

.navbar ul {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar ul li {
    position: relative;
    list-style: none;
}
.navbar ul li a {
    position: relative;
    margin: 0 1rem;
    text-decoration: none;
    color: rgb(50,50,50);
    letter-spacing: 2px;
    transition: 0.1s;
}
.navbar ul li a:hover {
    /* border-bottom: 2.4px solid rgb(250, 123, 50); */
    color: rgb(250, 123, 50);
    transition: .15s;
}
@media (max-width: 600px) {
    .navbar {
      display: flex;
      flex-direction: column;
      position: static;
    }
    .navbar ul li a:hover {
        border-bottom: none;
        color: rgb(50, 50, 50);
        transition: .15s;
    }
    .navbar span {
        left: 8.5rem;
        top: 3rem;
    }
    .navbar ul {
        width: 100vw;
        margin-top: 1rem;
    }
    .navbar ul li {
        font-size: .8rem;
        text-align: center;
    }
    .navbar ul li a {
        letter-spacing: 1px;
    }
  }
